*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container.code{
    height:60vh;
}

.console-container > div{
    border:1px solid black;
}

.container > div{
    border: 1px solid black;
}

.hindiscript-container textarea,
.javascript-container code{
    width:100%;
    height: 100%;
}
.hindiscript-container{
    position: relative;
}

.hint-container{
    position:absolute;
    right:0;
    top:0;
    list-style: none;
    background-color: black;
    color:white;
    margin: 0;
    padding: 0;
    width:200px;
    cursor: pointer;
}

.hint-container li{
    padding:2px 5px;
}

.hint-container li:hover{
    background-color: blue;
}

.run-code-btn{
    display: block;
    margin-left: auto;
    background-color: #2076d2;
    padding:6px 16px;
    color:white;
    border:none;
    cursor: pointer;
}

.run-code-btn:hover{
    opacity: 0.9;
}

footer{
    text-align: center;
}

.liked-by-btn{
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.selection-container{
    width:50%;
    text-align:left;
    padding: 10px 0;
}

.npm-logo{
    height:20px;
    margin-left: 10px;
}

.npm-logo-container{
    display: flex;
    justify-content: center;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .container.code{
        height:˝calc(50vh - 40px);
    }
}